/*@font-face {
    font-family: headlineFont;
    src: url(HACKED.ttf);
}*/

@font-face {
    font-family: headlineFont;
    src: url(extrosBackstage.ttf);
}

@font-face {
    font-family: titleFont;
    src: url(Roboto-Thin.ttf);
}

body {
    background-color: #1e1e1e;
}
.site-banner {
    background-color: #000;
}
.header-full-width {
    background: rgba(0, 0, 0, 0.3);
}
.header-wrapper {
    padding: 8px;
    width: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
}
.top-brand {
    height: 50px;
}
a {
    color: white;
    text-decoration: none;
    font-weight: 100;
}
.menu-text-link {
    padding: 0 19px;
}
.header-container {
    display: inline-block;
}
.text-links-container {
    vertical-align: top;
    margin-top: 18px;
}
.image-links-container {
    float: right;
    padding: 14px 100px 14px 0;
}
.image-links-container img {
    padding: 0px 6px;
}

/*CONTENT*/

.cover-image {
    /*background-image: url("cover_instrumentaldarkened-e1459449914299.jpg");*/
    background: url("cover_instrumentaldarkened-e1459449914299.jpg") no-repeat center center fixed;
    height: 800px;
    background-size: cover;
}
.headline {
    font-family: headlineFont;
    color: white;
    margin: auto;
    font-size: 11vw;
    padding-top: 250px;
    text-align: center;
}

.sub-headline {
   font-family: titleFont;
   font-size: 2vw;
   text-align: center;
   color: #c5cee8;
}

/*ABOUT*/

.about-title {
    color: white;
    font-size: 60px;
    padding: 30px 0px;
    text-align: center;
    font-family: titleFont;

}

.write-up{

}

.avatars {
    margin: auto;
    text-align: center;
}
.avatar-container {
    display: inline-block;
    padding: 0 14px;
    display: inline-block;
}
.avatar-name {
    color: white;
    font-size: 24px;
    padding: 10px 0px;
    text-align: center;
}
.avatar-instrument {
    font-family: verdana;
    color: #666b71;
    font-size: 12px;
}

/*MEDIA*/

.media-container {
    margin: auto;
    width: 800px;
    text-align: center;
}

/*BUTTON*/

.music-button{
  text-align: center;
  padding: 25px;
}

.button {
   border: 1px solid #0a3c59;
   background: #3e779d;
   background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
   background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
   background: -moz-linear-gradient(top, #65a9d7, #3e779d);
   background: -ms-linear-gradient(top, #65a9d7, #3e779d);
   background: -o-linear-gradient(top, #65a9d7, #3e779d);
   background-image: -ms-linear-gradient(top, #65a9d7 0%, #3e779d 100%);
   padding: 13px 26px;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #7ea4bd 0 1px 0;
   color: #06426c;
   font-size: 17px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border: 1px solid #0a3c59;
   text-shadow: #1e4158 0 1px 0;
   background: #3e779d;
   background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
   background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
   background: -moz-linear-gradient(top, #65a9d7, #3e779d);
   background: -ms-linear-gradient(top, #65a9d7, #3e779d);
   background: -o-linear-gradient(top, #65a9d7, #3e779d);
   background-image: -ms-linear-gradient(top, #65a9d7 0%, #3e779d 100%);
   color: #fff;
   }
.button:active {
   text-shadow: #1e4158 0 1px 0;
   border: 1px solid #0a3c59;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#3e779d));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   background-image: -ms-linear-gradient(top, #3e779d 0%, #65a9d7 100%);
   color: #fff;
   }
