

@font-face {
    font-family: headlineFont;
    src: url(extrosBackstage.ttf);
}
@font-face {
    font-family: titleFont;
    src: url(Roboto-Thin.ttf);
}

hr {
  color: white;
  width: 80%;
  margin-bottom: 30px;
}
body {
    background-color: #292d34;

}
.site-banner {
    background-color: #000;
}
.header-full-width {
    background: rgba(0, 0, 0, 0.3);
}
.header-wrapper {
    padding: 8px;
    width: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
}
.top-brand {
    height: 50px;
}
a {
    color: white;
    text-decoration: none;
    font-weight: 100;
}
.menu-text-link {
    padding: 0 19px;
}
.header-container {
    display: inline-block;
}
.text-links-container {
    vertical-align: top;
    margin-top: 18px;
}
.image-links-container {
    float: right;
    padding: 14px 100px 14px 0;
}
.image-links-container img {
    padding: 0px 6px;
}

/*CONTENT*/

.cover-image {
    /*background-image: url("cover_instrumentaldarkened-e1459449914299.jpg");*/
    /*background: url("cover_instrumentaldarkened-e1459449914299.jpg") no-repeat center center fixed;*/
    background: url("Cover_NoText.png") no-repeat center center fixed;
    height: 800px;
    background-size: contain;
    background-color: #808fa3;

}
.headline {
    font-family: headlineFont;
    color: white;
    margin: auto;
    font-size: 11vw;
    padding-top: 250px;
    text-align: center;
}
.sub-headline {
    font-family: titleFont;
    font-size: 2vw;
    text-align: center;
    color: #577199;
}



/*ABOUT*/

.about-title {
  color: white;
  font-size: 60px;
  padding: 80px 0px 20px 0;
  text-align: center;
  font-family: titleFont;
}
.bio {
    width: 75%;
    margin: auto;
    text-align: center;
    line-height: 30px;
    font-weight: 100;
    font-size: 19px;
}
.write-up {
    color: #fff;
}
.avatars {
    margin: auto;
    text-align: center;
}
.avatar-container {
    display: inline-block;
    padding: 10px 14px;
    display: inline-block;
}
.avatar-name {
    color: white;
    font-size: 24px;
    padding: 10px 0px;
    text-align: center;
    font-weight: 100;
    font-family: titleFont;

}
.avatar-instrument {
    font-family: verdana;
    color: #666b71;
    font-size: 13px;
}

/*MEDIA*/

.media-container {
    margin: auto;
    width: 800px;
    text-align: center;
}



.instagram{
  padding-top: 20px;
  margin: auto;
  width: 75%
}

/*CONTACT and Footer*/
.contact{
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 20px;
  font-weight: 100;

}

.footer{
  font-size: 12px;
  font-weight: 100;
  text-align: center;
  padding: 20px;
  color: #afafaf;
}
/*BUTTON*/

.music-button {
    text-align: center;
    padding: 25px;
}
.button {
    border: 2px solid #fff;
    background: #4768a4;
    border-radius: 6px;
    color: #ffffff;
    font-size: 20px;
    font-family: titleFont;
    text-decoration: none;
    vertical-align: middle;
    padding: 10px 20px;
}
.button:hover {
    background: transparent;
    color: #fff;
}

.button-two {
    border: 2px solid #fff;
    background: #b72e2e;
    border-radius: 6px;
    color: #ffffff;
    font-size: 20px;
    font-family: titleFont;
    text-decoration: none;
    vertical-align: middle;
    padding: 10px 20px;
}
.button-two:hover {
    background: transparent;
    color: #fff;
}
